body
{
	margin: 0px;
}

/*classes*/

.taille100
{
	width: 100%
}

.margeg20
{
	margin-left: 20px;
}

.gris
{
	background: rgb(246, 246, 246);
}

.violet
{
	color: rgb(169, 93, 220);
}

.rose
{
	color: rgb(227, 112, 218);
}

.noir
{
	background: rgb(53, 53, 53);
}

.gras
{
	font-weight: bold
}

.regulier
{
	font-weight: normal;
}

/*fin des classes*/

/*spéciation*/

article, article div
{
	display: flex;
	justify-content: space-between;	
}

h2, article p
{
	font-size: 1em;
}

section article p span, footer p, div.prix
{
	font-size: 0.95em;
}

section article p, div.prix
{
	font-weight: bold
}

h1, footer h3, h2, section article p span 

{
	font-weight: normal;
}

p ,article ,h2
{
	font-family: 'Roboto', sans-serif;
}

h1, footer h3
{
	font-family: 'Shrikhand', cursive;	
}

a, a:link, a:visited, a:focus, a:hover, a:active
{
  color: black;
  text-decoration: none;
} 

footer a, footer a:link, footer a:visited, footer a:focus, footer a:hover, footer a:active
{
	color: white;	
}

/*fin spéciation*/

/* début de la page */

header div
{
	display: flex;
	padding: 15px 0px 15px 0px;
}

header div i
{
	font-size: 1.3em;
	padding: 7px 0px 0px 20px;
}

header div img
{
	padding-left: 50px;
}

figure
{
	margin: 0px;
	position: relative;
	z-index: 1
}

section#grandmenu
{
	background-color: rgb(246, 246, 246);
	border-radius: 30px 30px 0px 0px;
	margin-top: -74px;
	position: relative;
	z-index: 2
}

section div.plats, section div.desserts
{
	padding-top: 10px;
}

h1
{
	padding-top: 30px;
	font-size: 1.6em;
}

h1 i
{
	padding: 0px 0px 0px 70px;
}

h1 i.coeurvide
{

}

h1 i.coeurplein
{
	display: none;
	color: #9356DC;
}

h2
{
	border-bottom: solid #99E2D0 3px;
	width: 40px;
	padding-bottom: 5px;
	padding-top: 10px;
}

article
{
	background-color: #fff;
	border-radius: 15px;
	margin: 15px;
	padding: 10px;
	max-height: 43px;
	box-shadow: 2px 2px 5px 2px #E8E8E8;	
}

section article p 
{
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;	
}

section article p span
{
	margin-top: 5px;
	width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;		
}

div.prix
{
	margin-right: 10px;
	padding-top: 25px;
	z-index: 2;
}

aside
{
	display: none;
}

div.apbt
{
	padding-top: 40px;
	padding-bottom: 70px;
}

div.bt
{
	width: 200px;
	background: rgb(200,94,199); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(200,94,199,1) 50%, rgba(168,73,163,1) 88%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(200,94,199,1) 50%,rgba(168,73,163,1) 88%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(200,94,199,1) 50%,rgba(168,73,163,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c85ec7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
	color: #fff;
	margin: auto;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 0 10px 20px 10px #C4C4C4;
}

div.bt p
{
	margin: auto;
	width: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer
{
	background-color: rgb(53, 53, 53);
	color: #fff;
	padding: 10px 20px 20px 20px;
}

footer h3
{

}

footer p
{
	margin: 0px 0px 10px 0px;
}

footer i
{
	margin-right: 7px;
	width: 19px;
}