body
{
	margin: 0px;
}

/*classes*/

.taille100
{
	width: 100%
}

.margeg20
{
	margin-left: 20px;
}

.gris
{
	background: rgb(246, 246, 246);
}

.violet
{
	color: rgb(169, 93, 220);
}

.cviolet
{
	color: #9356DC;
}

.rose
{
	color: rgb(227, 112, 218);
}

.crose
{
	color: #FF79DA;
}

.cvert
{
	color: #99E2D0;
}

.noir
{
	background: rgb(53, 53, 53);
}

.gras
{
	font-weight: bold
}

.regulier
{
	font-weight: normal;
}

.taille95
{
	font-size: 1em;
}

.padbot50
{
	padding-bottom: 50px;
}

.padbot30
{
	padding-bottom: 30px;
}

.padleft20
{
	padding-left: 20px;
}

.padrigth20
{
	padding-right: 20px;
}

.padtop20
{
	padding-top: 20px;
}

.grandt
{
	padding: 20px 0px 5px 30px;
	font-size: 1.4em;
	border: none;
	font-weight: bold;	
}

	/*background: rgb(200,94,199); /* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(200,94,199,1) 50%, rgba(168,73,163,1) 88%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top,  rgba(200,94,199,1) 50%,rgba(168,73,163,1) 88%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  rgba(200,94,199,1) 50%,rgba(168,73,163,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c85ec7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */

/*fin des classes*/

/*spéciation*/

h2, article h4
{
	font-size: 1em;
}

section article p , footer p, div.prix 
{
	font-size: 0.95em;
}

section article h4, div.prix, span, section.gris h1.titreacc 
{
	font-weight: bold
}

h1, footer h3, h2, section article p 

{
	font-weight: normal;
}

p ,article ,h2 ,h4 ,figcaption, section.gris h1.titreacc
{
	font-family: 'Roboto', sans-serif;
}

h1, footer h3
{
	font-family: 'Shrikhand', cursive;	
}

a, a:link, a:visited, a:focus, a:hover, a:active
{
  color: black;
  text-decoration: none;
} 

footer a, footer a:link, footer a:visited, footer a:focus, footer a:hover, footer a:active
{
	color: white;	
}

section article h4 ,section article p
{
	overflow: hidden;
	text-overflow: ellipsis;		
}

/*fin spéciation*/

/* début keyframe */

@keyframes animation1
{
	from{
		
	}
	to{
		
	}
}

/* fin keyframe */

/* début de la page accueil */

body header div#logo img.margeg20
{
	margin: auto;
	padding: 0px;
}

header p.recherche
{
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background: rgb(234, 234, 234);
	color: black;
	text-align: center;
	box-shadow: inset 0 5px 5px -5px #A6A6A6;
}

header p.recherche i
{
	padding-right: 15px;
}

section.gris h1.titreacc
{
	margin-top: 0px;
	font-size: 1.5em;
	text-align: center;
}

section.gris p
{
	text-align: center;
	padding: 0px 20px 10px 20px;
}

section.gris div.btacc
{
	width: 230px;
}

section.gris div.btacc p
{
	margin: auto;
	text-align: center;
	width: 180px;
	padding: 15px;
}

section.clacc article
{
	width: 300px;
	height: 52px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

section.clacc article:hover ,section.clacc article:active
{
	background-color: rgba(169, 93, 220, 0.4);
}

section.clacc article span
{
	background-color: rgb(169, 93, 220);
	color: #fff;
	border-radius: 20px;
	font-size: 0.8em;
	font-weight: normal;
	margin-left: -23px;
	padding: 3px 7px 3px 7px;
}

section.clacc article i
{
	color: grey;
}

section.clacc article h3
{
	font-size: 1em;
	height: 20px;
}

section.clacc article:hover i,section.clacc article:active i
{
	color: rgb(169, 93, 220);	
}

/* début des figures propres à la page d'accueil */

section.gris figure
{
	background: #fff;
	width: 337px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 15px;
	overflow: hidden;
	height: 250px;
	box-shadow: 2px 2px 7px 3px #E8E8E8;
}

section.gris figcaption 
{
	position: absolute;
	bottom: 0;
	background-color: #fff;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

body section.gris figcaption div.coeur
{
	position: absolute;
	bottom: 30px;
	right: 30px;
}

body section.gris figcaption div.coeur i
{
	font-size: 1.5em;
}

figcaption div.coeur i.coeurplein
{
	margin-left: -24px;
}

section.gris figure p
{
	position: absolute;
	top: 0;
	right: 20px;
	background-color: #99E2D0;
	color: rgb(48, 163, 135);
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

/* fin des figures de la page d'accueil */
/* fin de la page  accueil */
/* début de la page manu */

header div
{
	display: flex;
	padding: 15px 0px 15px 0px;
}

header div i
{
	font-size: 1.3em;
	margin: 7px 0px 0px 20px;
	/*transform: background scaleX(1);*/
}

/*header div i:hover , header div i:active
{
	background-color: grey;
	opacity: 0.5;
	border-radius: 20px;
	transform: background scaleX(3);
}*/

header div img
{
	padding-left: 50px;
}

figure
{
	margin: 0px;
	position: relative;
	z-index: 1
}

section#grandmenu
{
	background-color: rgb(246, 246, 246);
	border-radius: 30px 30px 0px 0px;
	margin-top: -74px;
	position: relative;
	z-index: 2
}

section div.plats, section div.desserts
{
	padding-top: 10px;
}

h1
{
	padding-top: 30px;
	font-size: 1.6em;
}

h1 span
{
	margin: 0px 0px 0px 70px;
}

h1 span:hover ,h1 span:active ,figcaption div:hover ,figcaption div:active
{
	cursor: pointer;
}

h1 i.coeurvide ,div i.coeurvide
{
	z-index: 2;
	transform: scale(1);
	transition-property: transform;	
	transition-duration: 500ms;	
}

span:hover .coeurvide ,span:active .coeurvide ,figcaption div:hover .coeurvide ,figcaption div:active .coeurvide
{
	transform: scale(1.22);
}

h1 i.coeurplein ,div i.coeurplein
{
	background: linear-gradient(#9356DC, #FF79DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	margin-left: -25.609px;
	transform: scale(0);
	transition-property: transform;
	transform-origin: center;
	transition-duration: 500ms;
	z-index: 1;
}

span:hover .coeurplein ,span:active .coeurplein ,div:hover .coeurplein ,div:active .coeurplein
{
	transform: scale(1);
}

h2
{
	border-bottom: solid #99E2D0 3px;
	width: 40px;
	padding-bottom: 5px;
	padding-top: 10px;
}

/*début section article*/

article
{
	background-color: #fff;
	border-radius: 15px;
	margin: 15px;
	padding-left: 10px;
	height: 63px;
	box-shadow: 2px 2px 5px 2px #E8E8E8;	
	display: flex;
	transition-duration: 1000ms;
	cursor: pointer;	
}

article div.menuprix
{
	white-space: nowrap;
	overflow: hidden;
	padding-top: 10px;
}

section article h4 
{
	margin: 0px;	
}

section article p
{
	margin-top: 5px;
	margin-bottom: 0px;	
}

div.prix
{
	margin-right: 10px;
	padding-left: 5px;
	padding-top: 35px;
	width: 40px;
	transform: translate(40px);
	transition-property: transform;
	transition-duration: 500ms;
}

article:hover div.prix ,article:hover div.prix
{
	transform: translate(0px);
}

aside
{
	background-color: #99E2D0;
	color: #fff;
	width: 80px;
	border-radius: 0px 15px 15px 0px;
	transition-property: transform;
	transform-origin: right;
	/*transform: translate(100%);*/
	transform: scaleX(0);
	transition-duration: 500ms;
}

article:hover aside ,article:active aside
{
	transform: scaleX(1);
	/*transform: translate(0%);*/
}

aside i.fas
{
	margin-top: 23px;
	margin-left: 17px;
	font-size: 1.25em;
}

article:hover aside i.fas ,article:active aside i.fas
{
	transform: rotate(1turn);
	transition-property: transform;
	transition-duration: 500ms;
}

/*fin section article */

div.apbt
{
	padding-top: 40px;
	padding-bottom: 70px;
}

div.bt
{
	width: 200px;
	background: linear-gradient(rgb(227, 112, 218), rgb(169, 93, 220));
	color: #fff;
	margin: auto;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 0 10px 20px 10px #C4C4C4;
	transform: scale(1);
	transition-property: opacity box-shadow transform;
	transition-duration: 500ms;	
}

div.bt:hover ,div.bt:active
{
	box-shadow: 0 10px 20px 15px #C4C4C4;
	opacity: 0.9;
	transform: scale(1.0);
	cursor: pointer;
}

div.bt p
{
	margin: auto;
	width: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer
{
	background-color: rgb(53, 53, 53);
	color: #fff;
	padding: 10px 20px 20px 20px;
}

footer h3
{

}

footer p
{
	margin: 0px 0px 10px 0px;
}

footer i
{
	margin-right: 7px;
	width: 19px;
}

/* media queries */

@media (min-width: 800px)
{
	e.flex
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	section.gris e figure
	{
		margin-right: 20px;
	}
}

@media (min-width: 1125px)
{
	div.entrees ,div.plats ,div.desserts
	{
		min-width: 375px;
		width: 33%;
	}

	div.entrees
	{
		padding-top: 10px;
	}
}